<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head data-th-replace="~{/layouts/header :: head}"></head>

<body>

	<header data-th-replace="~{/layouts/header :: header}"></header>


	<div class="container-fluid mb-5 mt-5">
		<div class="row">
			<main class="col-md-10 px-5">
				<div>
					<section class="text-center">
						<h3>Facultad de Ingenieria</h3>
						<p>La Facultad de Ingeniería de la UNJu es una institución académica dedicada a la formación de
							profesionales en diversas disciplinas de la ingeniería. Situada en la provincia de Jujuy,
							Argentina, se destaca por su compromiso con la excelencia académica, la investigación y el
							desarrollo tecnológico en la región.

							Con una amplia oferta de carreras, la facultad brinda programas de estudio que abarcan áreas
							como ingeniería civil, ingeniería eléctrica, ingeniería en sistemas de información, entre
							otras. Su enfoque multidisciplinario y su cuerpo docente altamente calificado garantizan una
							formación integral y actualizada para sus estudiantes.

							Además de la enseñanza, la Facultad de Ingeniería de la UNJu fomenta la investigación
							científica y tecnológica a través de proyectos y programas que contribuyen al desarrollo
							socioeconómico de la región. Asimismo, promueve la vinculación con el sector productivo y la
							comunidad, buscando generar impacto y soluciones innovadoras a los desafíos locales y
							regionales.</p>
					</section>
					<section class="text-center">
						<h3>Noticias recientes</h3>
						<div class="row row-cols-1 row-cols-md-3 g-3">
							<div class="col">
								<article class="card mb-3 h-100">
									<img src="https://fi.unju.edu.ar/cache/lofthumbs/750x330-universita-degli-studi-di-salerno.jpg"
										alt="noticia1" class="card-img-top img-fluid">
									<div class="card-body">
										<h5 class="card-title">Convocatoria “Beca UNISA” AA 2024/2025 | Università degli
											Studi di Salerno</h5>
										<p class="card-text">La Università degli Studi di Salerno ofrece 5 becas en
											maestrías en ingeniería para...</p>
									</div>
								</article>
							</div>
							<div class="col">
								<article class="card mb-3 h-100">
									<img src="https://fi.unju.edu.ar/cache/lofthumbs/750x330-taller-autocuidado-2-3enc.jpg"
										alt="noticia2" class="card-img-top img-fluid">
									<div class="card-body">
										<h5 class="card-title">Segundo y Tercer Encuentro de los Talleres de
											Capacitación de "AUTOCUIDADO Y EMOCIONES" para No Docentes de la FI UNJu
										</h5>
										<p class="card-text">Durante los días 15 y 22 de mayo, se llevaron a cabo con
											éxito el segundo y tercer encuentro de...</p>
									</div>
								</article>
							</div>
							<div class="col">
								<article class="card mb-3 h-100">
									<img src="https://fi.unju.edu.ar/cache/lofthumbs/750x330-acta-acuerdo-perico.jpg"
										alt="noticia3" class="card-img-top img-fluid">
									<div class="card-body">
										<h5 class="card-title"> Renovación de convenio académico entre la Facultad de
											Ingeniería y el Municipio de
											la Ciudad Perico</h5>
										<p class="card-text"> En horas de la mañana del jueves 23 de mayo del presente
											año, la Facultad de
											Ingeniería de la...</p>
									</div>
								</article>
							</div>
							<div class="col">
								<article class="card mb-3 h-100">
									<img src="https://fi.unju.edu.ar/cache/lofthumbs/750x330-vacunacion-unju-2024.jpg"
										alt="noticia4" class="card-img-top img-fluid">
									<div class="card-body">
										<h5 class="card-title"> Campaña de vacunación UNJu 2024</h5>
										<p class="card-text"> El día 29 de mayo del corriente, en el Aula Pelayo Pena de
											la Escuela de Minas "Dr.
											Horacio...</p>
									</div>
								</article>
							</div>
							<div class="col">
								<article class="card mb-3 h-100">
									<img src="https://fi.unju.edu.ar/cache/lofthumbs/750x330-diplomatura-formacion-lider.jpg"
										alt="noticia5" class="card-img-top img-fluid">
									<div class="card-body">
										<h5 class="card-title"> Reflexiones del 2° Encuentro de la Diplomatura en
											Formación Integral del Líder y
											Estrategias de Conducción Consciente</h5>
										<p class="card-text"> El segundo encuentro de la Diplomatura tuvo lugar el
											viernes pasado en la Facultad de
											Ingeniería...</p>
									</div>
								</article>
							</div>
							<div class="col">
								<article class="card mb-3 h-100">
									<img src="https://fi.unju.edu.ar/cache/lofthumbs/750x330-Curso-Posgrado-Fisicoquimica.jpg"
										alt="noticia6" class="card-img-top img-fluid">
									<div class="card-body">
										<h5 class="card-title"> Curso de posgrado "Fisicoquímica" | Especialización en
											Enseñanza de las Cs. Exactas
											y Naturales</h5>
										<p class="card-text"> Curso de Posgrado "Fisicoquímica" La inscripción al curso
											se realiza completando el
											siguiente...</p>
									</div>
								</article>
							</div>
						</div>
					</section>
				</div>
			</main>

			<aside class="col-md-2 d-md-flex flex-column justify-content-start align-items-center border-start">
				<div class="text-center mb-4">
					<h4>Menu</h4>
				</div>
				<div class="text-center">
					<a href="https://www.fi.unju.edu.ar/servicios/biblioteca.html" target="_blank"
						rel="noopener noreferrer" class="d-block text-decoration-none text-dark">Biblioteca</a>
					<a href="https://www.fi.unju.edu.ar/secretarias/sec-academica/calendario-academico.html"
						target="_blank" rel="noopener noreferrer"
						class="d-block text-decoration-none text-dark">Calendario academico</a>
				</div>
			</aside>

		</div>
	</div>

	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>

	<script type="text/javascript" data-th-stc="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>