<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	<footer class="bg-dark text-light py-4" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div>
						<h3 class="mb-3">FACULTAD DE INGENIERÍA - UNJu</h3>
						<p><i></i>Ítalo Palanca Nº 10</p>
						<p><i></i>San Salvador de Jujuy, Jujuy - Argentina</p>
						<p><i></i><a href="mailto:info@fi.unju.edu.ar"
								class="text-light text-decoration-none">info@fi.unju.edu.ar</a></p>
						<h3 class="mb-3">Aviso Legal</h3>
						<ul class="list-unstyled">
							<li>
								<ahref="#" class="text-light text-decoration-none">Términos y Condiciones</a>
							</li>
							<li><a href="#" class="text-light text-decoration-none">Condiciones de uso del Correo
									Electrónico</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<h3 class="mb-3">Redes Sociales</h3>
						<ul class="list-unstyled">
							<li><a href="https://www.facebook.com/fiunju/" target="_blank" rel="noopener noreferrer"
									class="text-light text-decoration-none"><i></i>Facebook</a></li>
							<li><a href="https://www.youtube.com/channel/UCgS9XJlKKSYI1oJ4lIOo77A" target="_blank"
									rel="noopener noreferrer" class="text-light text-decoration-none"><i></i>YouTube</a>
							</li>
							<li><a href="https://www.linkedin.com/school/facultad-de-ingenieria-unju" target="_blank"
									rel="noopener noreferrer"
									class="text-light text-decoration-none"><i></i>Linkedin</a></li>
							<li><a href="https://www.instagram.com/fiunju/" target="_blank" rel="noopener noreferrer"
									class="text-light text-decoration-none"><i></i>Instagram</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container text-center mt-4">
			<div class="row">
				<div class="col-md-12">
					<p class="mb-0">Copyright © 2014-2022 - Facultad de Ingeniería - UNJu</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>